@page
@using Blogging_Platform.Repositories
@using Blogging_Platform.Services;
@inject IArticleManager articleManager;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blogging System</h1>
                    <a href="/Article/Create" class="btn btn-primary">Wanna Write ?</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @{
                foreach (var article in articleManager.GetArticles())
                {
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="/Article/Details/@article.ArticleId">
                            <h2 class="post-title">@article.ArticleTitle</h2>
                            <h3 class="post-subtitle">
                                @{
                                    if (article.ArticleContent.Length < 100)
                                    {
                                        Html.Raw(article.ArticleContent);
                                    }
                                }
                            </h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="/User/Profile/@article.UserId">@article.UserFullName</a>
                            on @article.CreatedAt.ToString("MMMM dd, yyyy")
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4">
                }
            }
        </div>
    </div>
</div>


@* 
@{
    foreach (var article in articleManager.GetArticles())
    {
        x;">
            <div class="r<div class="card mb-3" style="max-width: 1040pow g-0">
                <div class="col-md-4">
                    <img src="/ArticleThumbnails/@article.ArticleThumbnail" class="img-fluid rounded-start">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="/Article/Details/@article.ArticleId">
                            <h2 class="card-title">@article.ArticleTitle</h2>
                        </a>
                        <p class="card-text">
                            @{
                                if (article.ArticleContent.Length > 100)
                                {
                                    @Html.Raw(@article.ArticleContent.Substring(0, 100));
                                }
                                else 
                                {
                                    @Html.Raw(@article.ArticleContent);
                                }
                            }
                        </p>
                        <p class="card-text"><small class="text-muted">Created At : @article.CreatedAt.ToString("dd/MM/yyyy") by : @article.UserFullName</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
}

 *@