@using Microsoft.AspNetCore.Identity;
@inject UserManager<Models.AppUser> userManager;
@inject Services.MyDbContext dbContext;
@model List<Models.AppUser>
@{
    ViewData["Title"] = "Manage Users";
    Layout = "/Views/Shared/_AdminDashboard.cshtml";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#create-modal">Create User</a>

<br />
<br />

<table class="table table-striped">
    <thead>
        <tr class="bg-dark text-white">
            <th>Profile Picture</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Age</th>
            <th class="text-center">Statistics</th>
            <th>Gender</th>
            <th>Created At</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var u in Model)
            {
                <tr>
                    <td><img src="/ProfilePictures/@u.ProfilePicture" width="50px"/></td>
                    <td>@u.FirstName</td>
                    <td>@u.LastName</td>
                    <td>
                        @{
                            if (userManager.GetRolesAsync(u).Result.Contains("user"))
                            {
                                <p class="badge bg-primary">User</p>
                            }
                            else
                            {
                                <p class="badge bg-dark">Admin</p>
                            }
                        }
                    </td>
                    <td>@u.Age</td>
                    <td>
                        <p class="badge bg-success" id="articles">Articles @dbContext.Articles.Where(a => a.UserId == u.Id).ToList().Count</p>
                        <p class="badge bg-warning" id="actions">Actions @dbContext.Actions.Where(a => a.UserId == u.Id).ToList().Count</p>
                        <p class="badge bg-dark" id="comments">Comments @dbContext.Comments.Where(c => c.UserId == u.Id).ToList().Count</p>
                    </td>
                    <td>@u.Gender</td>
                    <td>@u.CreatedAt.ToString("MM/dd/yyyy")</td>
                    <td>@u.Email</td>
                    <td>@u.PhoneNumber</td>
                    <td>
                        <a href="/Admin/DeleteUser/@u.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                        <a href="/Admin/UserDetails" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#details-modal"><i class="fa-solid fa-circle-info"></i></a>
                        <a href="/Admin/EditUser" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#edit-modal"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="create-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/Admin/CreateUser" method="post">
                    @*Full Name entry*@
                    <div class="form-outline mb-4">
                        <label class="form-label">Full Name</label>
                        <input name="FullName" type="text" class="form-control form-control-lg" required/>
                    </div>

                    @*Email entry*@
                    <div class="form-outline mb-4">
                        <label class="form-label">Email</label>
                        <input name="Email" type="email" class="form-control form-control-lg" required/>
                    </div>

                    @*Phone Number entry*@
                    <div class="form-outline mb-4">
                        <label class="form-label">Phone Number</label>
                        <input name="PhoneNumber" class="form-control form-control-lg" required/>
                    </div>

                    @*  S u b m i t  *@

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>