@using Blogging_Platform.Models;
@model Article
@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_ArticleLayout.cshtml";
}

<header class="masthead" style="background-image: url('/ArticleThumbnails/@Model.ArticleThumbnail')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.ArticleTitle</h1>

                    <span class="meta">
                        Posted by
                        <a href="#!">@Model.UserFullName</a>
                        on @Model.CreatedAt.ToString("dd/MM/yyyy")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    @*Article Category*@
    <a class="btn btn-dark" href="/Category/Articles/@Model.CategoryId">Article category @Model.CategoryId</a>

    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    @Html.Raw(@Model.ArticleContent)
                </div>
            </div>
        </div>
    </article>
</div>