@using Blogging_Platform.Models;
@model Article
@{
    ViewData["Title"] = "Details";
}

<div style="width:50%;">
    @*Article Title*@
    <h2>@Model.ArticleTitle</h2>
    
    <div style="display:flex; flex-direction:row; justify-content:space-between; align-items:center;">
        @*Article Writer*@
        <p>Writed by : @Model.UserFullName</p>

        @*Article Created Time*@
        <p>Created At : @Model.CreatedAt.ToString("dd/MM/yyyy")</p>
    </div>

    @*Article Category*@
    <a class="btn btn-dark" href="/Category/Articles/@Model.CategoryId">Article category @Model.CategoryId</a>
    
    @*Article Thumbnail*@
    <img src="/ArticleThumbnails/@Model.ArticleThumbnail" width="100%"/>

    <hr />

    @*Article Content*@
    @Html.Raw(@Model.ArticleContent)

    @*Article Interactions
    <div>
        Likes

        Comments
        
        Replies

    </div>*@
</div>