@using Blogging_Platform.Models;
@model Article
@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_ArticleLayout.cshtml";
}

<header class="masthead" style="background-image: url('/ArticleThumbnails/@Model.ArticleThumbnail')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.ArticleTitle</h1>

                    <span class="meta">
                        Posted by
                        <a href="#!">@Model.UserFullName</a>
                        on @Model.CreatedAt.ToString("dd/MM/yyyy")
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    @*Article Category*@
                    <a class="btn btn-dark" href="/Category/Articles/@Model.CategoryId">@ViewBag.ArticleCategory</a>
                    
                    @*Like*@
                    <form action="/Article/ToggleLike/" method="post" style="display:inline-block;">
                        <input type="hidden" name="ArticleId" value="@Model.ArticleId" />

                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-thumbs-up"></i> @(Model.Likes?.Count ?? 0)
                        </button>
                    </form>

                    @*Article Content*@
                    @Html.Raw(@Model.ArticleContent)
                </div>
            </div>
        </div>
    </article>

    @*Interactions*@
    
        @*Comment*@
        @*Reply*@
    
    @*Articles from the same blogger*@
    
    @*Articles from the same Category (recommended articles)*@
</div>
