@using Blogging_Platform.Models;
@model Article
@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_ArticleLayout.cshtml";
}

<header class="masthead" style="background-image: url('/ArticleThumbnails/@Model.ArticleThumbnail')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.ArticleTitle</h1>

                    <span class="meta">
                        Posted by
                        <a href="/User/Profile/@Model.UserId">@Model.UserFullName</a>
                        on @Model.CreatedAt.ToString("dd/MM/yyyy")
                    </span>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <article class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    @*Article Category*@
                    <a class="btn btn-dark" href="/Category/Articles/@Model.CategoryId">@ViewBag.ArticleCategory</a>
                    
                    @*Like*@
                    <form id="likeForm" action="/Article/ToggleLike/" method="post" style="display:inline-block;">
                        <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
                        <button type="submit" class="btn btn-primary" id="likeButton">
                            <i class="fa-solid fa-thumbs-up"></i> <span id="likeCount">@(Model.Likes?.Count ?? 0)</span>
                        </button>
                    </form>

                    @*Views number*@
                    <p class="btn btn-dark"><i class="fa-solid fa-eye"></i> @Model.ViewCount</p>

                    @*Article Content*@
                    @Html.Raw(@Model.ArticleContent)

                    @*Comment*@
                    
                    <h3 >Comments</h3>
                    <hr />
                    @{
                        foreach (var c in ViewBag.ArticleComments)
                        {
                            <dl style="display:flex; flex-direction:row;">
                                <dt class="text-secondary">@c.UserFullName Comment</dt>
                                <dd style="margin-left:5px;">@c.CommentContent</dd>
                            </dl>

                            @*List of replies*@
                            
                            foreach (var r in c.Replies)
                            {
                                <dl style="display:flex; flex-direction:row;">
                                    <dt style="margin-left:20px;">@r.UserFullName Reply</dt>
                                    <dd>@r.ReplyContent</dd>
                                </dl>
                            }    

                            @*Add Reply*@

                            <form action="/Article/AddReply/" method="post">
                                <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
                                <input type="hidden" name="CommentId" value="@c.CommentId" />

                                <div class="form-group" style="display:inline-block; max-height:40px;">
                                    <input class="form-control" style="min-width:400px;" type="text" name="ReplyContent" placeholder="Write Reply" />
                                </div>
                                
                                <button class="btn btn-primary" type="submit">Reply</button>
                            </form>

                            <hr />
                        }
                    }

                    @*Add Comment*@

                    <form action="/Article/AddComment/" method="post">
                        <input type="hidden" name="ArticleId" value="@Model.ArticleId" />
                        <div class="form-group" style="display:inline-block;">
                            <label class="form-label">Write Comment</label>
                            <input class="form-control" style="min-width:400px;" type="text" name="CommentContent" placeholder="Write Comment"/>
                        </div>
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </form>

                    <hr />

                    @*Articles from the same blogger*@
                    
                    <h2>Articles from @Model.UserFullName</h2>
                    <hr />
                    @{
                        foreach (var a in ViewBag.UserArticles)
                        {
                            <a href="/Article/Details/@a.ArticleId"><h3>@a.ArticleTitle</h3></a>
                            <hr />
                        }
                    }

                    @*Articles from the same Category (recommended articles)*@
                    <h2>Articles from @ViewBag.ArticleCategory category</h2>
                    <hr />
                    @{
                        foreach (var a in ViewBag.CategoryArticles)
                        {
                            <a href="/Article/Details/@a.ArticleId"><h3>@a.ArticleTitle</h3></a>
                            <hr />
                        }
                    }
                </div>
            </div>
        </div>
    </article>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#likeForm').submit(function (event) {
            event.preventDefault(); // Prevent the form from submitting the traditional way

            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        $('#likeCount').text(response.likeCount);
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 401) {
                        // Redirect to login page if unauthorized
                        window.location.href = '/Identity/Account/Login';
                    } else {
                        console.error("Error:", error);
                    }
                }
            });
        });
    });
</script>