@{
    ViewData["Title"] = "Dashboard";
    Layout = "/Views/Shared/_UserDashboard.cshtml";
}

<h1>Dashboard</h1>

@*  Cards  *@
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body">Articles : @ViewBag.ArticlesNumber</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="/Article/Index">View Details</a>
                <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">Followers : @ViewBag.FollowersNumber</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="/User/Followers">View Details</a>
                <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Activities : @ViewBag.ActionsNumber</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="/User/Activities">View Details</a>
                <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Views : @ViewBag.ArticlesViewsNumber</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><svg class="svg-inline--fa fa-angle-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""><path fill="currentColor" d="M246.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L178.7 256 41.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path></svg><!-- <i class="fas fa-angle-right"></i> Font Awesome fontawesome.com --></div>
            </div>
        </div>
    </div>
</div>

@* Chart's *@
<div class="row">
    <!-- Bar Chart Column -->
    <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-header text-center">
                Articles Published per Month
            </div>
            <div class="card-body d-flex justify-content-center">
                <canvas id="myBarChart" width="100%" height="400"></canvas>
            </div>
            <div class="card-footer small text-muted text-center">
                Updated Today at @DateTime.Now.ToString("HH:mm")
            </div>
        </div>
    </div>

    <!-- Pie Chart Column -->
    <div class="col-lg-6 col-md-12">
        <div class="card mb-4">
            <div class="card-header text-center">
                Most Viewed Articles
            </div>
            <div class="card-body d-flex justify-content-center">
                <canvas id="myPieChart" width="100%" height="400"></canvas>
            </div>
            <div class="card-footer small text-muted text-center">
                Updated Today at @DateTime.Now.ToString("HH:mm")
            </div>
        </div>
    </div>
</div>

@*  Articles  *@
<div class="card">
    <div class="card-header">
        <i class="fa-solid fa-file"></i> Articles
    </div>

    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Views</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var a in ViewBag.UserArticles)
                    {
                        <tr>
                            <td>@a.ArticleTitle</td>
                            <td>@a.CreatedAt</td>
                            <td>@a.ViewCount</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    // Bar Chart (Articles Published by Month)
    var ctxBar = document.getElementById('myBarChart').getContext('2d');
    var monthLabels = @Html.Raw(Json.Serialize(ViewBag.MonthLabels));
    var articleCounts = @Html.Raw(Json.Serialize(ViewBag.ArticleCounts));

    var myBarChart = new Chart(ctxBar, {
        type: 'bar',
        data: {
            labels: monthLabels,
            datasets: [{
                label: 'Articles Published',
                data: articleCounts,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    // Pie Chart (Most Viewed Articles)
    var ctxPie = document.getElementById('myPieChart').getContext('2d');
    var articleTitles = @Html.Raw(Json.Serialize(ViewBag.ArticleTitles));
    var articleViewCounts = @Html.Raw(Json.Serialize(ViewBag.ArticleViewCounts));

    var myPieChart = new Chart(ctxPie, {
        type: 'pie',
        data: {
            labels: articleTitles,
            datasets: [{
                data: articleViewCounts,
                backgroundColor: ['#0d6efd', '#ffc107', '#198754', '#dc3545'],
                hoverBackgroundColor: ['#0d6efd', '#ffc107', '#198754', '#dc3545']
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'top'
                },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.label + ': ' + tooltipItem.raw + ' views';
                        }
                    }
                }
            }
        }
    });
</script>